<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.templatevilla.healthcalculator">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name="com.templatevilla.healthcalculator.ActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.github.pdfviewer.PDFViewActivity"
            android:theme="@style/CustomActivityThemeNoTitle"/>


        <activity
            android:name="com.templatevilla.healthcalculator.ActivityUnderstandBMI"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityChart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBodyMassIndex"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityCalorieCalculator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.templatevilla.healthcalculator.ActivityCharCalorie"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityCalorieResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityHeartRateCalculator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityChartHeart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityHeartRateResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBloodVolResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBloodVolCalc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBloodDonat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityCanIDonate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityChartBloodVolume"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityEligibilityCheck"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBloodDonatRes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBloodAlcoContent"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityChartAlcohol"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBloodAlcoResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityWaterIntakeCalc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityChartWater"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityWaterIntakeResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityCalculator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityIdealWeightCalc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityIdealWeightResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityChartIdeal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBodyFatHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityChartFat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBodyFatMale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBodyFatResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- android:configChanges="screenSize|orientation|screenLayout|density"  -->
        <activity
            android:name="com.templatevilla.healthcalculator.ActivityBodyFatFem"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityPregnancyCalc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityChartPreg"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityPregnancyCalcRes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.templatevilla.healthcalculator.ActivityOvulationCalc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.templatevilla.healthcalculator.ActivityChartOvu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.templatevilla.healthcalculator.ActivityOvulationCalcRes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>